<div class="container">
  <h1>好きなもの、まとめてシェアしよ？</h1>
  <p>よく観る動画も、おすすめ商品も<br>
    誰かとシェアしたいWebページ<br>
    たくさんあるならFavListで
  </p>
  <a href="#" class="btn btn-primary btn-lg">新規登録</a>
  <a href="#" class="btn btn-outline-primary btn-lg">ログイン</a>
</div>
