<div id="top-section" class="container row">
  <div class="col-md-auto">
    <h1>好きなもの、まとめてシェアしよ？</h1>
    <p class="container">よく観る動画も、おすすめ商品も<br>
      誰かとシェアしたいWebページ<br>
      たくさんあるならFavListで
    </p>
    <p class="container">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
    </p>
  </div>
</div>
