html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
  color: #333;
}

/* タイトル */

h1 {
  color: #333;
}

/* ページ共通 */

header {
  border-bottom: 2px solid lightcoral;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  text-align: center;
  padding: 20px;
  color: white;
  background: lightcoral;
}

p {
  padding: 10px;
}

#top-section {
  margin-top: 60px;
}